---
interface Props {
  email: string;
  successText: string;
  lang?: string;
}

const { email, successText } = Astro.props;
---

<button
  class="flex items-center gap-2
    col-span-2
    text-sm 
    text-purple-600 dark:text-purple-300
    max-w-fit pr-3
    p-1
    bg-gray-100 dark:bg-gray-900 
    px-2 
    rounded-full
    border border-purple-400/50 dark:border-purple-500/40 
    hover:border-purple-500 dark:hover:border-purple-400/60
    hover:text-purple-700 dark:hover:text-purple-200
    transition-all 
    cursor-pointer 
    hover:shadow-lg hover:shadow-purple-500/10 dark:hover:shadow-purple-500/10 hover:shadow-purple-500/20"
  aria-label="Copiar dirección de correo electrónico"
  data-email={email}
  data-success={successText}
>
  <!-- <FontAwesomeIcon icon={faEnvelope} className="text-purple-400" /> -->

  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="size-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
    ></path>
  </svg>

  <span class="email-text">{email}</span>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="size-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184"
    ></path>
  </svg>

  <!-- <FontAwesomeIcon icon={faCopy} className="text-xs text-purple-500" /> -->
</button>

<script is:inline>
  // Script comentado - funcionalidad deshabilitada
  // const button = document.currentScript?.previousElementSibling;
  // const span = button?.querySelector(".email-text");
  // if (!button) throw new Error("Button element not found");
  // const email = button.dataset.email;
  // const successText = button.dataset.success;
  // let timeout;
  // button?.addEventListener("click", async () => {
  //   try {
  //     await navigator.clipboard.writeText(email);
  //     span.textContent = successText;
  //     clearTimeout(timeout);
  //     timeout = setTimeout(() => {
  //       span.textContent = email;
  //     }, 2000);
  //   } catch (e) {
  //     console.error("No se pudo copiar el correo", e);
  //   }
  // });
</script>
